/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --title-color: #ff0070;
  --subtitle-color: #000028;
  --nav-color: #ff0070;
  --accent-color: #ff0070;
  --logo-color: #db00ff;
  --border-color: #ff0070;
  --rec-color: #ff0070;
  --hover-color: rgba(255, 0, 112, 0.4);
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .rec {
  display: flex;
}
